/**
 * A bit description in - src/components/header/style.css
 */
@use cssnext;
@use postcss-autoreset;
@use postcss-initial(reset: "inherited");

@import 'variables/indents.css';

.products {
  display: flex;
  padding-top: var(--height-header);
  align-items: center;
  flex-direction: column;
}