/**
 * A bit description in - src/components/header/style.css
 */
@use cssnext;
@import 'variables/colors.css';
@import 'variables/indents.css';

/**
 * postcss-context it's like postcss-use, but we can apply plugins just to
 * part of the file. It's helpful if we use states like :hover or active class
 */
@context reset, initial {
  .button {
    float: left;
    border-right: 1px solid var(--color-blank);
    font-size: 15px;
    padding: 0 15px;
    background-color: color(var(--color-dark) w(+15%));
    color: var(--color-blank);
    line-height: var(--height-header);
    cursor: pointer;
  }
}

.button:hover {
  background-color: var(--color-light-dark);
}

.active,
.active:hover {
  cursor: default;
  background-color: color(var(--color-light-dark) w(+30%));
  color: var(--color-dark);
  font-weight: bold;
}
