/**
 * A bit description in - src/components/header/style.css
 */
@use cssnext;
@use postcss-autoreset;
@use postcss-initial(reset: "inherited");

@import 'variables/colors.css';
@import 'variables/indents.css';

.home {
  display: block;
  padding-top: calc(var(--height-header) + 100px);
}

.title {
  display: block;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  color: var(--color-dark);
}

.description {
  display: block;
  text-align: center;
  font-size: 20px;
  color: color(var(--color-dark) w(+20%));
}